.DS_Store
*.swp
._*
*.pyc
etl/bin/env.sh
etl/data/etl
etl/data/full-history/*.osh.xml.gz
etl/data/full-history/*.osh.pbf
etl/data/full-history/*.osh.xml
etl/src/mapred/regions/region_*.grunt
pig_*.log
py-analysis/env/
py-analysis/config/*.cfg
!py-analysis/config/development.cfg
